database:
  DB_HOST: "localhost"
  DB_PORT: 5432
  DB_USER: "test"
  DB_PASSWORD: "test"
  DB_NAME: "energy-usage"
kafka:
  consumer:
    topics: ["energy_processor"]
    groupId: "c02Service"
    host: "localhost"
    port: 29092
  producer:
    topic: "completion"
    host: "localhost"
    port: 29092
serviceName: "c02Service"

